# **Predicting Bank Subscribtion from Campaign data using Logistic Regression**

In [90]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

## **Exploring the data**

In [91]:
df = pd.read_csv("bank-full.csv")
y = pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [92]:
df["y"] = df["y"].apply(lambda x: 0 if x =="no" else 1)

**Since the data has mixture of strings and integer values, strings are converted into integers using label-encoders which classifies the features in integers.**

In [93]:
lab = LabelEncoder()
std = StandardScaler()
df["job"] = lab.fit_transform(df["job"])
df["education"] = lab.fit_transform(df["education"])
df["default"] = lab.fit_transform(df["default"])
df["housing"] = lab.fit_transform(df["housing"])
df["loan"] = lab.fit_transform(df["loan"])
df["month"] = lab.fit_transform(df["month"])
df["contact"] = lab.fit_transform(df["contact"])
df["poutcome"] = lab.fit_transform(df["poutcome"])
df["marital"] = lab.fit_transform(df["marital"])

In [94]:
df.describe()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,4.339762,1.167725,1.224813,0.018027,1362.272058,0.555838,0.160226,0.640242,15.806419,5.523014,258.163080,2.763841,40.197828,0.580323,2.559974,0.116985
std,10.618762,3.272657,0.608230,0.747997,0.133049,3044.765829,0.496878,0.366820,0.897951,8.322476,3.006911,257.527812,3.098021,100.128746,2.303441,0.989059,0.321406
min,18.000000,0.000000,0.000000,0.000000,0.000000,-8019.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000
25%,33.000000,1.000000,1.000000,1.000000,0.000000,72.000000,0.000000,0.000000,0.000000,8.000000,3.000000,103.000000,1.000000,-1.000000,0.000000,3.000000,0.000000
50%,39.000000,4.000000,1.000000,1.000000,0.000000,448.000000,1.000000,0.000000,0.000000,16.000000,6.000000,180.000000,2.000000,-1.000000,0.000000,3.000000,0.000000
75%,48.000000,7.000000,2.000000,2.000000,0.000000,1428.000000,1.000000,0.000000,2.000000,21.000000,8.000000,319.000000,3.000000,-1.000000,0.000000,3.000000,0.000000
max,95.000000,11.000000,2.000000,3.000000,1.000000,102127.000000,1.000000,1.000000,2.000000,31.000000,11.000000,4918.000000,63.000000,871.000000,275.000000,3.000000,1.000000

**Since values of data differ in different features greatly like values of balance are much greater than age or month, thus our LogisticRegression model might give more importance to balance than other features. To avoid that , we need to normalize all the values. The normalization used is the StandardScaler Normalizer**

In [95]:
y = df["y"]
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
5,35,4,1,2,0,231,1,0,2,5,8,139,1,-1,0,3,0
6,28,4,2,2,0,447,1,1,2,5,8,217,1,-1,0,3,0
7,42,2,0,2,1,2,1,0,2,5,8,380,1,-1,0,3,0
8,58,5,1,0,0,121,1,0,2,5,8,50,1,-1,0,3,0
9,43,9,2,1,0,593,1,0,2,5,8,55,1,-1,0,3,0
10,41,0,0,1,0,270,1,0,2,5,8,222,1,-1,0,3,0
11,29,0,2,1,0,390,1,0,2,5,8,137,1,-1,0,3,0
12,53,9,1,1,0,6,1,0,2,5,8,517,1,-1,0,3,0
13,58,9,1,3,0,71,1,0,2,5,8,71,1,-1,0,3,0
14,57,7,1,1,0,162,1,0,2,5,8,174,1,-1,0,3,0
15,51,5,1,0,0,229,1,0,2,5,8,353,1,-1,0,3,0
16,45,0,2,3,0,13,1,0,2,5,8,98,1,-1,0,3,0
17,57,1,1,0,0,52,1,0,2,5,8,38,1,-1,0,3,0
18,60,5,1,0,0,60,1,0,2,5,8,219,1,-1,0,3,0
19,33,7,1,1,0,0,1,0,2,5,8,54,1,-1,0,3,0
20,28,1,1,1,0,723,1,1,2,5,8,262,1,-1,0,3,0
21,56,4,1,2,0,779,1,0,2,5,8,164,1,-1,0,3,0
22,32,1,2,0,0,23,1,1,2,5,8,160,1,-1,0,3,0
23,25,7,1,1,0,50,1,0,2,5,8,342,1,-1,0,3,0
24,40,5,1,0,0,0,1,1,2,5,8,181,1,-1,0,3,0
25,44,0,1,1,0,-372,1,0,2,5,8,172,1,-1,0,3,0
26,39,4,2,2,0,255,1,0,2,5,8,296,1,-1,0,3,0
27,52,2,1,1,0,113,1,1,2,5,8,127,1,-1,0,3,0
28,46,4,2,1,0,-246,1,0,2,5,8,255,2,-1,0,3,0
29,36,9,2,1,0,265,1,1,2,5,8,348,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,1,1,1,0,6879,0,0,0,15,9,74,2,118,3,0,0
45182,34,9,1,1,0,133,0,0,0,15,9,401,2,187,5,2,1
45183,70,5,1,0,0,324,0,0,0,15,9,78,1,96,7,2,0
45184,63,5,1,1,0,1495,0,0,0,16,9,138,1,22,5,2,0
45185,60,7,1,2,0,4256,1,0,0,16,9,200,1,92,4,2,1
45186,59,11,1,3,0,1500,0,0,0,16,9,280,1,104,2,0,0
45187,32,7,2,1,0,1168,1,0,0,16,9,411,1,-1,0,3,1
45188,29,4,2,1,0,703,1,0,0,16,9,236,1,550,2,2,1
45189,25,7,2,1,0,199,0,0,0,16,9,173,1,92,5,0,0
45190,32,1,1,1,0,136,0,0,0,16,9,206,1,188,3,2,1
45191,75,5,0,2,0,3810,1,0,0,16,9,262,1,183,1,0,1
45192,29,4,2,2,0,765,0,0,0,16,9,238,1,-1,0,3,1
45193,28,6,2,2,0,159,0,0,0,16,9,449,2,33,4,2,1
45194,59,4,1,2,0,138,1,1,0,16,9,162,2,187,5,0,0
45195,68,5,1,1,0,1146,0,0,0,16,9,212,1,187,6,2,1
45196,25,8,2,1,0,358,0,0,0,16,9,330,1,-1,0,3,1
45197,36,4,2,1,0,1511,1,0,0,16,9,270,1,-1,0,3,1
45198,37,4,1,2,0,1428,0,0,0,16,9,333,2,-1,0,3,0
45199,34,1,2,1,0,1475,1,0,0,16,9,1166,3,530,12,1,0
45200,38,9,1,1,0,557,1,0,0,16,9,1556,4,-1,0,3,1
45201,53,4,1,2,0,583,0,0,0,17,9,226,1,184,4,2,1
45202,34,0,2,1,0,557,0,0,0,17,9,224,1,-1,0,3,1
45203,23,8,2,2,0,113,0,0,0,17,9,266,1,-1,0,3,1
45204,73,5,1,1,0,2850,0,0,0,17,9,300,1,40,8,0,1
45205,25,9,2,1,0,505,0,1,0,17,9,386,2,-1,0,3,1
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [96]:
df = df.drop(["y"],axis=1)

**Transforming the data into Standard Nomalized values**

In [97]:
df = std.fit_transform(df)

**Training the data using logistic regression**

In [98]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [99]:
lr.coef_

array([[ 0.08517869,  0.13046344,  0.05823326, -0.5393779 , -0.25649882,
        -0.58285334, -0.04118463,  0.10985274,  1.01745054, -0.39030829,
         0.35099756,  0.20322974,  0.20250767]])

**As we can see above is the list of coefficient of our LogisticRgression Model. We can see that the coefficient of "duration" feature with value of 1.0174 affects the accuracy of the model the most while "age" feature affects the least. Some features like "education" , "balance" affects negatively

In [101]:
lr.score(x_test,y_test)

0.8872055733716687